#sect textarea
{
    resize: none;
    height: 250px;
    width: 300px;
}

body{
    /* background: linear-gradient(7deg, rgba(34,193,195,1) 0%, rgba(253,187,45,0.41789215686274506) 100%); */
    background-color: azure;
  
}

.icon{
    height: 50px;
    width: 50px;
}

/* #mob
{
    display: none;
} */

/* #sect textarea:is(:focus, :hover)
{
    border: 1px solid black;
}
#sect textarea::-webkit-scrollbar
{
    width: 0px;
} */

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.column {
    flex-basis: 48%;
}

#sect
{
    margin-top: 50px;
}

#heading
{
    margin-top: 50px;
}


#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;     
}

.selected{
    background-color: black;
    
}   
.selected a{
    color: white;
}
#navbar a{
    
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
#navbar li{
    float: left; 
    border-right: solid 1px black;
    Width: 100px;
    font-family: 'Roboto', sans-serif;
    color: black;
    
}

#navbar a:hover{
    background-color: black;    
    color: white;
}
#navbar{
    background-color: rgb(75, 176, 216);
    padding: 5px;
    border-bottom: solid 1px black;
}

/* #email1
{
    margin-left: 10px;
} */

.submitit   
{
    height: 60px;
    width: 400px;
    border-radius: 50px;
   display: block;
   margin-top: 30px;
   background-color: rgb(216, 46, 13);
   color: white;
    
    
}

.submitit:hover
{
    background-color: azure;
    color: black;
    
}



#last
{
    margin-right: 50px;
}

#inp
{
    margin-right: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'manrope', sans-serif;
} 

nav{
    position: fixed;      
    display: flex;
    height: 80px;
    width: 100%;
    background: #1b1b1b;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    z-index: 1000;
  }
  nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
    background: #fff;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  
  input[type="checkbox"]{
    display: none;
  }
  
  
  
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }

}



@media (max-width: 920px) {  

    #footer
    {
      display: flex;
        justify-content: space-between;
        padding: 0px;
        
    } 



    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed; 
      top: 80px;
      left: -100%;
      background: #000000;
      /* opacity: 1; */
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: cyan;
    }

    .container {
        display: block;
        justify-content: space-between;
        padding: 20px;
    }

    .submitit 
   {
    height: 60px;
    width: 200px;
    border-radius: 50px;
    display: block;
    margin-top: 30px; 
    margin-left: 75px;
    
   }

   nav{
    position: fixed;

   }

   .heading
   {
         margin-top: 50px;
   }

   #mob
   {
       display: block;
   }

   .icon
  {
     width: 25px;
     height: 25px;
  }


  }

  form input
  {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
  }

  form textarea
  {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
  }

  /* .icon
  {
     width: 50px;
     height: 50px;
  } */